<p>cart works!</p>

<!-- <div class="card">
    <div class="prod1">
    <img [src]="imgprod" alt="Denim Jeans">
    <h1>Denim Jeans</h1>
    <div class="container">
        <input type="text" #newItem>
        <div class="des">
        <button class="btn btn-ptimary">Description</button>
        <div>
        
            <button class="btn btn-primary" (click)="addNewItem()" >Add to Cart</button> 
        </div>
        </div>
        </div>
    </div>
    <div class="prod2">
        <img src="https://images.unsplash.com/photo-1591213954196-2d0ccb3f8d4c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="Denim Jeans">
        <h1>Denim Jackets</h1>
        <div class="container">
            <input type="text" #newItem>
            <div class="des">
            <button class="btn btn-ptimary">Description</button>
            <div>
            
                <button class="btn btn-primary" (click)="addNewItem()" >Add to Cart</button> 
            </div>
            </div>
            </div>
        </div>
        <div class="prod3">
            <img src="https://images.unsplash.com/photo-1591213954196-2d0ccb3f8d4c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="Denim Jeans">
            <h1>Denim Jackets</h1>
            <div class="container">
                <input type="text" #newItem>
                <div class="des">
                <button class="btn btn-ptimary">Description</button>
                <div>
                
                    <button class="btn btn-primary" (click)="addNewItem()" >Add to Cart</button> 
                </div>
                </div>
                </div>
            </div>
  </div>  -->

  <div class="container">
      <div class="product">
          
      </div>
  </div>