<!-- <p>Hello</p>
<img [src] = imgUrl>
<p>{{title}}</p>
<app-mycomp></app-mycomp>

<div class="container">
  <button class="btn btn-primary" (click)="counterval()" >click here</button>
  <p>{{count}}</p>

  <input name="firstname" value="{{fname}}">
</div> -->

<!-- <app-coffeeheader></app-coffeeheader>
<app-coffeecarousel></app-coffeecarousel>
<app-coffeefooter></app-coffeefooter> -->

<!-- <app-twowaydatabinding></app-twowaydatabinding>


<h2>*ngIf<h2>
<br>
<div class="container">
<input type="number" [(ngModel)]="gnumber">
<p>{{gnumber}}</p>

<div *ngIf="evenodd()">
  <p>Even</p>
</div>
</div>

<h2>*ngFor</h2>
<div class="container">
  <div *ngFor= "let numbArray of numbArrays">
    {{numbArray}}
  </div>

  <div *ngFor= "let strArray of strArrays">
    {{strArray}}
  </div>
</div>

  <br>
  <h2>string length</h2>
  <div *ngfor= "let strLengths of strlength">
    {{strLengths.length}}
  </div> -->


  <!-- <app-header [itemrecieved]="itemsent"></app-header> -->

  <app-header></app-header>
  <app-mycomp></app-mycomp>